/* ---------------value------------ */
:root {
  /* font-color */
  --white: #fff;
  /* font-family */
  --font1: sans-serif;
  /* font-size */
  --fs-1: 1rem;
  /* font-weight */
  --fw-1: 500;
}

/* -------reset------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth wrapper styles */
#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

/* Rest of your existing CSS remains same */
/* ... (sab purana CSS yahi rahega) ... */
html {
  font-family: var(--font1);
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: 500;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #0b0014;
}
/* ################################################### */
/* ####################hero-section##################### */
/* #################################################### */

.hero-section {

  height: 110vh;
  width: 100%;
  position: relative;
  overflow: hidden;

}
/* ##################### MOBILE-FIRST-APPROCH############### */
.hero-content {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.318);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
}

.hero-content h1 {
  font-size: 2.2rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.984);
  margin: 10px 0;
  z-index: 15;
  position: relative;
}
.icon-container{
 display: flex;
 align-items: center;
}
.hero-icon a{
    color: #fff;
}
.hero-icon {
    padding-left: 1em;
    font-size: 30px;
}

.bg-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translateZ(0);
  z-index: 1;
}
/* ################################################# */
/* #################info-section################ */
/* ############################################### */
.info-section {
  position: relative;
  margin-top: -70px;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.487);
}

/* ############ MARQUEE INFINITE SCROLL ############# */

.marquee-container {

  width: 100%;
  height: 130px;
  /* background-color: red; */
  left: 0;
  right: 0;
  top: 30px;
  position: relative;
  overflow: hidden;

}

.marquee-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding: 8px 0;
  z-index: 2;
}

.marquee-wrapper.black {
  background-image: linear-gradient(90deg, #b302b9, #00196c);
  top: 50%;
  transform: translateY(-50%) rotate(-3deg);
  z-index: 11;
}

.marquee-wrapper.purple {
  background-image: linear-gradient(90deg, #4568dc, #f93dff);
  top: 50%;
  transform: translateY(-50%) rotate(3deg);
  z-index: 12;
}

.marquee-content {
  display: flex;
  width: max-content;
  gap: 0;
  animation-play-state: paused;

}
/* ############### MARQUEE ANIMATION################# */


.marquee-wrapper.black .marquee-content {
  animation: scroll-left 30s linear infinite;
  animation-play-state: paused;
  /* Shuruat mein ruka rahega */
}

.marquee-wrapper.purple .marquee-content {
  animation: scroll-right 30s linear infinite;
  animation-play-state: paused;
  /* Shuruat mein ruka rahega */
}

.marquee-item {
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: inline-block;
  padding-right: 20px;

}



@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }


}



@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}



/* ############ ABOUT CONTAINER ####################### */

.about-container {
  padding-block:10vh;
  width: 100%;
  

}
.about-content{
    width: 70%;
    margin: auto;
    display: flex;
  align-items: center;
/* background-color: red; */
}

.about-container article {
  padding-top: 15vh;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}
.about-container article h3{
 font-size: 20px;

}
.about-container article p{
   margin-block: 0.5rem;
   font-size: 15px;
   line-height: 1.1;
  
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 95%; */
 
  margin: auto;
}
.btn-container .btn{
 padding-right: 10px;
}

#btn{
  font-size: 18px;
  width: 7rem;
  padding-block: 8px;
  border-radius: 7px;
  border: none;
  background-color: blue;
  color: white;
}


/* ########################################## */
/* ###########project-section####################### */
/* ############################################ */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20vh;

}

.project-container h3 {
  text-align: center;
  font-size: 30px;
}

.project-container .type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  font-size: 12px;
}



.project {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* border: 2px solid red; */
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  background-color: rgba(24, 20, 56, 0.512);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 40);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 10px;
}

.card-content p {
  color: rgb(189, 189, 189);
  line-height: 1.5;
}


/*#################### MARQUEE  Responsive################ */
@media (max-width: 768px) {
  .marquee-item {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .marquee-item {
    font-size: 1.1rem;
  }

  .marquee-container {
    height: 100px;
  }

  .marquee-wrapper {
    padding: 5px 0;
  }
}

/* ###############CARD RESPONSIVE#################3 */

@media screen and (max-width:800px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro h1 {
    font-size: 50px;
  }
}

@media screen and (max-width:600px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .intro h1 {
    font-size: 40px;
  }
}